[submodule "Content/LeagueSandbox-Default"]
	path = Content/LeagueSandbox-Default
	url = https://github.com/SirHorns/LeagueSandbox-Default.git
	branch = indev
[submodule "LeaguePackets"]
	path = LeaguePackets
	url = https://github.com/SirHorns/LeaguePackets.git
	branch = master
